.jumbotron
  h1 BookWorm
.container
  .row
    form.book-form(role='form' ng-submit='manualBookCreate()')
      .form-group
        label(for='title') Title:
        input.form-control(role='title' type='text', placeholder='Title' ng-model='formTitle')
      .form-group
        label(for='author') Author:
        input.form-control(role='author' type='text', placeholder='Author' ng-model='formAuthor')
      .form-group
        label(for='isbn') ISBN:
        input.form-control(role='isbn' type='text', placeholder='ISBN' ng-model='formIsbn')
      button.btn.btn-success(type='submit') Submit
  .row
    table.table.table-striped
      tr
        th Title
        th Author
        th ISBN
        th Delete
      tr(ng-repeat='book in bookList')
        td.col-lg-7 {{book.title}}
        td.col-lg-2 {{book.author}}
        td.col-lg-2 {{book.isbn}}
        td.col-lg-1
          button.btn.btn-danger.btn-xs(ng-click='deleteBookConfirm(book.title, book)') X
