.jumbotron
  h1 BookWorm
.container
  .row
    button.btn.btn-primary(ng-click='manualModal()') Manually Enter a Book
  br
  .row
    table.table.table-striped
      tr
        th Title
        th Author
        th ISBN
        th Delete
      tr(ng-repeat='book in bookList')
        td.col-lg-7 {{book.title}}
        td.col-lg-2 {{book.author}}
        td.col-lg-2 {{book.isbn}}
        td.col-lg-1
          button.btn.btn-danger.btn-xs(ng-click='deleteBookConfirm(book.title, book)') X
